# I may need the _authToken for auto publishing packages via GitHub actions, but it seems if I try to publish manually, for instace Style-Tokens package, having the _authToken will cause a 401.

# I need to test to see if I do indeed still need _authToken to publish packages via GitHub actions.

# //npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@bmcwebdev:registry=https://npm.pkg.github.com